#nav-bar {
  position: fixed;
  height: 80px;
  right: 0;
  left: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  padding-right: 10px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
}

#nav-bar .right button:hover {
  transform-origin: center;
  transform: scale(1.2);
}

#nav-bar .right button {
  border-radius: 5px;
  border-width: 2px;
  width: 100px;
  height: 50px;
  border-style: ridge;
  border-color: black;
  background-color: white;
  flex: 0 0 100px;
}

#nav-bar .left {
  flex: 1 1 auto;
}

#nav-bar .middle {
  flex: 1 1 auto;
}