.new-tweet h2 {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
}

.new-tweet form {
  margin-bottom: 30px;
}

.new-tweet textarea {
  width: 100%;
  padding-left: 10px;
  margin-top: 20px;
}

.new-tweet input {
  float: left;
}

.new-tweet .counter {
  float: right;
}

.new-tweet {
  border-style: ridge;
  background-color: #eeeeee;
  margin: auto;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.one-tweet .container{
  padding-left: 2em;
  padding-right: 2em;
}

